
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

:root{
    --var-Dark-cyan: hsl(185, 75%, 39%);
    --var-desaturated-blue: hsl(229, 23%, 23%);
    --var-grayish-blue: hsl(227, 10%, 46%);
    --var-Dark-gray: hsl(0, 0%, 59%);
    --var-white: #ffff;
    --radius: 12px;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

body{
    background-color: var(--var-Dark-cyan);
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: var(--var-white);
    width: 19rem;
    height: auto;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.card-bg-img{
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.profile-img{
    border-radius: 50%;
    border: 6px solid var(--var-white);
    
    margin-top: -80px;
}

.card-title{
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--var-desaturated-blue);
}

.text-gray{
    font-weight: 400;
    color: var(--var-Dark-gray);
}


.card-description{
    color: var(--var-grayish-blue);
}

.divider{
    border-color: 2px solid var(--var-Dark-gray);
    width: 100%
}

.card-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}


.card-footer-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


.details-count{
    font-size: 1rem;
    font-weight: 700;
    color: var(--var-desaturated-blue);
}

.details-type{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--var-grayish-blue);
}
